<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Blog-zone</h3>
                <p class='text-muted'>You put information over here.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Home</li>
                        <li class="list-group-item list-group-item-light">Announcement</li>
                        <li class="list-group-item list-group-item-light">Latest</li> 
                    </ul>
                </p>             
            </div> 
        </div>
    </div>
</main>